@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ing. Cesar Omar Hernandez Casas</h1>
    <p class="lead">Materials project</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>C#</p>
        <p>ASP.NET Framework 4.7.2</p>
        <p>MVC structure</p>
        <p>Visual Studio 2019</p>
        <p>Sql server 2019</p>
        <p>NuGet EPPLUS version 4.5.3.3</p>

    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>https://github.com/superdupers1/Materials</p>
        <p><a class="btn btn-default" href="https://github.com/superdupers1/Materials">GitHub &raquo;</a></p>
    </div>
</div>