USE [master]
GO
/****** Object:  Database [Materials]    Script Date: 14/07/2022 03:27:05 p. m. ******/
CREATE DATABASE [Materials]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Materials', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Materials.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Materials_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Materials_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Materials].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Materials]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 14/07/2022 03:27:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[PKBuilding] [int] IDENTITY(1,1) NOT NULL,
	[Building] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Building__B75AA5988F64A737] PRIMARY KEY CLUSTERED 
(
	[PKBuilding] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 14/07/2022 03:27:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[PKCustomers] [int] IDENTITY(1,1) NOT NULL,
	[Customer] [varchar](255) NULL,
	[Prefix] [varchar](15) NULL,
	[FKBuilding] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PKCustomers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartNumbers]    Script Date: 14/07/2022 03:27:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartNumbers](
	[PKPartNumber] [int] IDENTITY(1,1) NOT NULL,
	[PartNumber] [varchar](50) NULL,
	[FKCustomer] [int] NULL,
	[Available] [bit] NOT NULL,
 CONSTRAINT [PK__PartNumb__6F48E65108A1D1BF] PRIMARY KEY CLUSTERED 
(
	[PKPartNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK__Customers__FKBui__38996AB5] FOREIGN KEY([FKBuilding])
REFERENCES [dbo].[Buildings] ([PKBuilding])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK__Customers__FKBui__38996AB5]
GO
ALTER TABLE [dbo].[PartNumbers]  WITH CHECK ADD  CONSTRAINT [FK__PartNumbe__FKCus__3B75D760] FOREIGN KEY([FKCustomer])
REFERENCES [dbo].[Customers] ([PKCustomers])
GO
ALTER TABLE [dbo].[PartNumbers] CHECK CONSTRAINT [FK__PartNumbe__FKCus__3B75D760]
GO
USE [master]
GO
